In [65]:
import pandas as pd
from geopy.geocoders import Nominatim, GoogleV3, Yandex
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
import geocoder

In [41]:
df = pd.read_csv('khimki_database.csv', skiprows=3)
df.head()

,№ п/п,Адрес,Тип потребителя,Дата отключения ГВС,Дата включения ГВС
0,1,"Химки г, 8 Марта ул, 1",жилое,8/17/2021,8/29/2021
1,2,"Химки г, 8 Марта ул, 2",жилое,8/17/2021,8/29/2021
2,3,"Химки г, 8 Марта ул, 2 А",жилое,8/17/2021,8/29/2021
3,4,"Химки г, 8 Марта ул, 3",жилое,8/17/2021,8/29/2021
4,5,"Химки г, 8 Марта ул, 4",жилое,8/17/2021,8/29/2021

In [42]:
df.columns

Index(['№ п/п', 'Адрес', 'Тип потребителя', 'Дата отключения ГВС',
       'Дата включения ГВС'],
      dtype='object')

In [43]:
df = df.rename(
    columns={
    'Адрес': 'address',
    'Тип потребителя': 'type',
    'Дата отключения ГВС': 'start',
    'Дата включения ГВС': 'end',
    # '№ п/п': 'index'
    }
)

df.head()

   № п/п                   address   type      start        end
0      1    Химки г, 8 Марта ул, 1  жилое  8/17/2021  8/29/2021
1      2    Химки г, 8 Марта ул, 2  жилое  8/17/2021  8/29/2021
2      3  Химки г, 8 Марта ул, 2 А  жилое  8/17/2021  8/29/2021
3      4    Химки г, 8 Марта ул, 3  жилое  8/17/2021  8/29/2021
4      5    Химки г, 8 Марта ул, 4  жилое  8/17/2021  8/29/2021

In [44]:
df = df.drop(columns=['№ п/п'])
df.head()

                    address   type      start        end
0    Химки г, 8 Марта ул, 1  жилое  8/17/2021  8/29/2021
1    Химки г, 8 Марта ул, 2  жилое  8/17/2021  8/29/2021
2  Химки г, 8 Марта ул, 2 А  жилое  8/17/2021  8/29/2021
3    Химки г, 8 Марта ул, 3  жилое  8/17/2021  8/29/2021
4    Химки г, 8 Марта ул, 4  жилое  8/17/2021  8/29/2021

In [50]:
df.address[0]

'Химки г, 8 Марта ул, 1'

In [67]:
# geolocator = Nominatim(user_agent="khimki")
# geolocator = GoogleV3(api_key = 'AIzaSyCMoCa3CcrTyO46hp_e_VJPc3WrInNUHmg')
geolocator = Yandex(api_key = '918161b7-5a2b-4d19-bc16-9941d6d9aa50')
country ="Россия"
latit = []
longit = []

for i in df.address:
    i = i.strip()
    i = country+', '+i
    location = geolocator.geocode(i, timeout = 60)
    # print(i)
    # print(location)
    try:
        latit.append(location.latitude)
        longit.append(location.longitude)
    except:
        print(i)
        latit.append('No latit')
        longit.append('No longit')

In [68]:
df['latitude'] = latit
df['longitude'] = longit

In [69]:
# df.head()
df.tail()

,address,type,start,end,latitude,longitude
1088,"Химки г, Юннатов ул, 21 8",жилое,7/21/2021,8/3/2021,55.900708,37.465281
1089,"Химки г, Юннатов ул, 21 9",жилое,7/21/2021,8/3/2021,55.900930,37.465667
1090,"Химки г, Юннатов ул, 3",жилое,7/21/2021,8/3/2021,55.898624,37.461715
1091,"Химки г, Юннатов ул, 4",жилое,7/21/2021,8/3/2021,55.899113,37.462290
1092,"Химки г, Юннатов ул, 5",жилое,7/21/2021,8/3/2021,55.899583,37.462847

In [70]:
# # geolocator = Nominatim(user_agent="khimki")
# # geolocator = GoogleV3(api_key = 'AIzaSyCMoCa3CcrTyO46hp_e_VJPc3WrInNUHmg')
# geolocator = Yandex(api_key = '918161b7-5a2b-4d19-bc16-9941d6d9aa50')
# test = 'Химки г, 8 Марта ул, 1'
# location = geolocator.geocode(test, timeout = 60)
# print(location)

In [77]:
df.latitude.isnull().sum()

0

In [79]:
# df.to_csv('khimki_prepro.csv')